/.venv
/__pycache__
gamesir_renderizado.html
productos_gamesir.csv
.gitignore
Libraries/__pycache__/scraper.cpython-314.pyc
Libraries/__pycache__/__init__.cpython-314.pyc
Libraries/__pycache__/limpieza.cpython-314.pyc
Libraries/__pycache__/prediccion.cpython-314.pyc
